0x0C-python-almost_a_circle/.vscode/settings.json
0x0F-python-object_relational_mapping/venv
0x14-javascript-web_scraping/newfile
0x14-javascript-web_scraping/loripsum
0x14-javascript-web_scraping/json resopnse.json
0x15-javascript-web_jquery/0-main.html
0x15-javascript-web_jquery/1-main.html
0x15-javascript-web_jquery/2-main.html
0x15-javascript-web_jquery/3-main.html
0x15-javascript-web_jquery/4-main.html
0x15-javascript-web_jquery/5-main.html
0x15-javascript-web_jquery/6-main.html
0x15-javascript-web_jquery/7-main.html
0x15-javascript-web_jquery/8-main.html
0x15-javascript-web_jquery/9-main.html
0x15-javascript-web_jquery/100-main.html
0x15-javascript-web_jquery/101-main.html
0x15-javascript-web_jquery/102-main.html
0x15-javascript-web_jquery/103-main.html
